.cat-filter {
  padding: 8px 36px 8px 12px;
  margin-right: 24px;
  border-radius: 4px;
  background-image: url('../images/dropdown.svg');
  appearance: none;
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
  background-color: #fff;
  border: 1px solid rgba(128, 128, 128, 0.8);
  box-sizing: border-box;
  cursor: pointer;
}