.cat-filter {
  padding: 8px 36px 8px 12px;
  margin-right: 24px;
  border-radius: 4px;
  background-image: url('../images/dropdown.svg');
  appearance: none;
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
  background-color: #fff;
  border: 1px solid rgba(128, 128, 128, 0.8);
  box-sizing: border-box;
  cursor: pointer;
  font-size: 16px;
}
.filters {
  display: flex;
  align-items: center;
  label {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 16px;
    user-select: none;
    gap: 10px;

    input[type="checkbox"] {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;

      &:checked ~ .custom-checkbox {
        background-color: $primary;
        border-color: $primary;

        &::after {
          display: block;
        }
      }
    }
    .custom-checkbox {
      position: relative;
      height: 20px;
      width: 20px;
      background-color: #fff;
      border: 1px solid $primary;
      border-radius: 4px;
      transition: all 0.3s;
      &::after {
        content: "";
        position: absolute;
        display: none;
        left: 6px;
        top: 2px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
      }
    }

    &:hover input ~ .custom-checkbox {
      background-color: #ddd;
    }
  }
}