@import 'variables';
@import 'cards';
@import 'filters';

.container {
  max-width: 1440px - 240px;
  width: 100%;
  margin: 2%;
  @media screen and (max-width: 1200px) {
    width: 92%;
    margin-right: 4%;
    margin-left: 4%;
  }
  @media screen and (max-width: 650px) {
    width: calc(100% - 24px);
    margin-right: 12px;
    margin-left: 12px;
  }
}
.specialists-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px 0;
  @include specialist-card__style;
  .specialist-card {
    &:hover {
      transform: translateY(-5px);
    }
  }
}
.single-specialist {
  @include specialist-card__style;
}